<div>
    <div class="row">
        <div class="col-md-12">
            <form>
                <div class="col-md-12">
                    <div class="form-group has-feedback">
                        <div class="input-group">
                            <span class="input-group-addon">Buscar</span>
                            <input type="text" class="form-control" id="search" ng-model='searchable' aria-describedby="inputGroupSuccess1Status">
                        </div>
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                        <span id="inputGroupSuccess1Status" class="sr-only">(success)</span>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="double-bounce1" ng-show="loader.loading"><span us-spinner></span></div>

            <table class="table-bordered table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Detalles</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="items in organizacions">
                        <td>{{ items.id }}</td>
                        <td><a href="/admin/organizaciones/{{ items.id }}/edit">{{ items.name }}</a></td>
                        <td>{{ items.details }}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

    <div class="row" ng-if="totalItems > 10">
        <div class="col-md-12">

            <ul uib-pagination
                total-items="totalItems"
                num-pages="numPages"
                ng-model="currentPage"
                max-size="maxSize"
                class="pagination-sm"
                boundary-link-numbers="true"
                force-ellipses="true"
                rotate="false"
                ng-click="nextPage(currentPage)">
            </ul>
        </div>
    </div>

</div>