
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";


// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


.double-bounce1 {
  width: 100%;
  height: 100%;
  background-color:white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}